$viewportWidth: 92vw;
$viewportHeight: 78vh;
$butHeight: 10vh;

.frame {
	margin: (100vh - $viewportHeight - $butHeight*2)/2 auto;
	animation: frameAppear 1.5s;
	&__buttons {
		display: block;
		width: 100%;
		height: $butHeight;
		font-size: 2.8em;
		outline: none;
		border: none;
		border-radius: $butHeight*3/5 $butHeight*3/5 0px 0px;
		color: rgba(255, 255, 255, 0.8);
		line-height: 80%;
		background: #555;
		&__text {
			transform: translateY(-8%);
		}
			&:active {
				color: rgb(250, 170, 73);
			}
			&--next {
				transform: scale(-1);
			}
		}
	&__viewport {
		overflow: hidden;
	}
	&__projectsList {
		list-style-type: none;
		width: 10000px;
		transition: .7s;
		background: #555;
		&__project {
			display: inline-block;
			width: $viewportWidth;
			height: $viewportHeight;
			.codepen {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@keyframes frameAppear {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (orientation: landscape) {
	$viewportWidth: 72vw;
	$maxViewportWidth: 700px;
	$viewportHeight: 96vh;
	$maxViewportHeight: 650px;
	$butWidth: 10vw;
	$butMaxWidth: 100px;
	
	.frame {
		position: relative;
		animation: frameAppear 1.5s;
		margin: (100vh - $viewportHeight)/2 auto;
		max-height: $maxViewportHeight;
		&__buttons {
			position: absolute;
			width: $butWidth;
			max-width: $butMaxWidth;
			height: 100%;
			border-radius: 60% 0 0 60% / 10% 0 0 10%;
			&--prev {
				left: 0px;
			}
			&--next {
				right: 0px;
				top: 0px;
			}
		}
		&__viewport, &__projectsList__project {
			width: $viewportWidth;
			max-width: $maxViewportWidth;
			height: $viewportHeight;
			max-height: $maxViewportHeight;
			margin: auto;
		}
	}
}
