$viewportWidth: 92vw;
$viewportHeight: 78vh;
$butHeight: 10vh;
$minWidth: 300px;
@mixin fill {
	width: 100%;
	height: 100%;
}

.frame {
	margin: (100vh - $viewportHeight - $butHeight*2)/2 auto;
	animation: frameAppear 1.5s;
	&__buttons {
		display: flex;
		width: 100%;
		height: $butHeight;
		font-size: 3.5rem;
		outline: none;
		border: none;
		border-radius: $butHeight*3/5 $butHeight*3/5 0px 0px;
		color: rgba(255, 255, 255, 0.8);
		background: rgb(85, 85, 85);
		&__arrow {
			margin: auto;
			line-height: 10%;
			transform: translateY(-50%);
		}
			&:active {
				color: rgb(250, 170, 73);
			}
			&--next {
				transform: scale(-1);
			}
		}
	&__viewport {
		overflow: hidden;
	}
	&__projectsList {
		list-style-type: none;
		width: 10000px;
		transition: .7s;
		background: rgb(85, 85, 85);
		height: $viewportHeight;
		&__project {
			display: inline-block;
			width: $viewportWidth;
			min-width: $minWidth;
			height: $viewportHeight;
			position: relative;
			.codepen {
				@include fill;
			}
		}
	}
}

.description {
	display: none;
}

@keyframes frameAppear {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 600px) and (min-height: 600px){
	.description {
		@include fill;
		position: absolute;
		top: 0%;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
		cursor: pointer;
		text-align: center;
		background: rgba(100, 100, 100, 0.4);
		font-size: 1.6rem;
		&__header {
			white-space: pre-line;
			width: 80%;
			margin: auto;
			text-shadow: 0 0 2px rgb(0, 0, 0);
		}
		&__stack {
			color: rgb(132, 250, 138);
		}			
	}
}

@media (orientation: landscape) {
	$viewportWidth: 72vw;
	$maxViewportWidth: 700px;
	$viewportHeight: 96vh;
	$maxViewportHeight: 670px;
	$butWidth: 10vw;
	$butMaxWidth: 100px;
	
	.frame {
		position: relative;
		animation: frameAppear 1.5s;
		margin: (100vh - $viewportHeight)/2 auto;
		max-height: $maxViewportHeight;
		&__buttons {
			position: absolute;
			width: $butWidth;
			max-width: $butMaxWidth;
			height: 100%;
			border-radius: 60% 0 0 60% / 10% 0 0 10%;
			&--prev {
				left: 0px;
			}
			&--next {
				right: 0px;
				top: 0px;
				transform: scaleX(-1);
			}
		}
		&__viewport, &__projectsList__project {
			width: $viewportWidth;
			max-width: $maxViewportWidth;
			height: $viewportHeight;
			max-height: $maxViewportHeight;
			margin: auto;
		}
	}
}