.skills__list {
  margin-top: 2%;
  list-style-type: none;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.skill__basic {
  color: #84fa8a;
  font-size: 1.5em;
  display: block;
  margin-top: 1em;
}
.skill__description {
  position: relative;
  font-size: 1.2em;
  animation: skillsAppear 1.2s cubic-bezier(0.5, 0, 1, 0.9);
}

@keyframes skillsAppear {
  0%, 20% {
    left: 50%;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70%, 80%, 90%, 100% {
    left: 0;
  }
  75% {
    left: 4%;
    opacity: 1;
  }
  85% {
    left: 2%;
  }
  95% {
    left: 1%;
  }
}
@media (min-width: 400px) and (max-width: 480px) {
  .skill__basic {
    display: inline-block;
    font-size: 1.3em;
    width: 85px;
  }
}
@media (min-width: 480px) and (max-width: 550px) {
  .skill__basic {
    display: inline-block;
    width: 120px;
  }
}
@media (min-width: 550px) and (max-width: 610px) {
  .skill__basic {
    display: inline-block;
    font-size: 1.7em;
    width: 134px;
  }

  .skill__description {
    font-size: 1.4em;
  }
}
@media (min-width: 610px) and (max-width: 1024px) {
  .skill__basic {
    display: inline-block;
    font-size: 2em;
    width: 160px;
  }

  .skill__description {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .skill__basic {
    display: inline-block;
    font-size: 1.8em;
    width: 200px;
  }

  .skill__description {
    font-size: 1.5em;
  }
}
