.home {	
	width: 92vw;
	max-width: 100%;
	margin: auto;
	margin-top: .7rem;
	animation: appear .8s cubic-bezier(.6, .9, .8, 1.2);
}
.myPhoto, .aboutMe {
	width: 100%;
	max-width: 550px;
	margin: auto;
}
.myPhoto {
	display: block;
	border-radius: 5%;
}
.aboutMe {
	padding-top: 1.8rem;

	&__paragraph {
		text-align: justify;
		text-indent: 2.1rem;
		font-size: 1.4rem;
		margin-bottom: 1.2rem;
	}
}

@keyframes appear {
	0%, 60% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@media (min-width: 1024px) and (orientation: landscape) {
	.myPhoto {
		width: 48%;
		float: right;
	}
	.aboutMe {
		width: 48%;
		margin-right: 52%;
		height: 550px;
		&__paragraph {
			font-size: 1.48rem;
			margin-bottom: 1.9rem;
			&:last-child {
				margin-bottom: 0;
			}
			&--rus {
				font-size: 1.36rem;
				width: 90%;
				margin-left: 10%;
			}
		}
	}
}