.home {
  width: 92vw;
  max-width: 100%;
  margin: auto;
  margin-top: .7rem;
  animation: appear 0.8s cubic-bezier(0.6, 0.9, 0.8, 1.2);
}

.myPhoto, .aboutMe {
  width: 100%;
  max-width: 550px;
  margin: auto;
}

.myPhoto {
  display: block;
  border-radius: 5%;
}

.aboutMe {
  text-align: justify;
  text-indent: 2.1rem;
  font-size: 1.6rem;
  padding-top: 1.6rem;
}
.aboutMe__paragraph {
  color: white;
  margin-bottom: 25px;
}

@keyframes appear {
  0%, 60% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .myPhoto {
    width: 49%;
    float: right;
  }

  .aboutMe {
    width: 47%;
    margin: 0;
    text-align: justify;
    font-size: 1.5rem;
  }
  .aboutMe__paragraph {
    color: white;
  }
}
