.home * {
	color: white;
}
.myPhoto {
	width: 47%;
	float: right;
	border-radius: 5%;
}
.aboutMe {
	width: 47%;
	text-align: justify;
	text-indent: 1.5em;
	line-height: 1.2em;
	font-size: 1.6em;
	justify-content: space-around;
	padding-top: 30px;
}
.aboutMe__paragraph {
	/* margin: 20px 0px 40px; */
	margin-bottom: 25px;
}

.home {
	width: 850px;
	margin: auto;
	margin-top: 50px;
	animation: appear .5s cubic-bezier(.6, .9, .8, 1.2);
}
@keyframes appear {
	0%, 80% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}