.header {
	margin: 0 auto;
	text-align: center;
	color: rgb(255, 228, 196);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	&__language {
		position: absolute;
		top: 5.5rem;
		right: .1rem;
		width: 3rem;
		height: 2.2rem;
		background: url('../../img/flag-icon-british.png') center/cover;
		cursor: pointer;
		border-radius: 20%;
	}
}
#lang {
	display: none;
	&:checked + label {
		background: url('../../img/flag-icon-russian.png') center/cover;
	}
}
@media (min-width: 400px) {
	.header {
		&__language {
			top: 2.5rem;
			right: 1rem;
		}
	}
}