.app {
	width: 92vw;
	min-width: 300px;
	max-width: 900px;
	margin: auto;
	color: rgb(255, 255, 255);
}
html {
	font-size: 14px;
}
@media (min-width: 480px) and (max-width: 1024px) {
	html {
		font-size: 16px;
	}
}
@media (min-width: 1024px) {
	html {
		font-size: 18px;
	}
}