.nav__menu {
	width: 80%;
	padding: .3rem 0;
	margin: auto;
	// min-height: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	// align-items: center;
	// align-content: center;
	list-style-type: none;
	&__item {
		flex-basis: 50%;
		text-align: center;
	}
	& a {
		color: white;
		text-decoration: none;
		font-size: 1.8rem;
	}
	& a:hover, & a.active {
		color: rgb(250, 170, 73);
	}
}
@media screen and (min-width: 361px) {
	.nav__menu {
		width: 100%;
		max-width: 600px;
		&__item {
			flex-basis: 0;
		}
	}
}
/* @media screen and (min-width: 481px) {
	.nav__menu {
		width: 88vw;
		max-width: 600px;
		&__item {
			flex-basis: 0;
		}
	}
} */