nav {
	/* background-color: rgba(100, 100, 100, 0.5); */
}
.navMenu {
	width: 500px;
	margin: auto;
	/* border: 1px solid #000; */
	list-style-type: none;
	display: flex;
	/* align-items: center; */
	/* align-content: flex-end; */
	justify-content: space-evenly;
	font-size: 2em;
}
.navMenu a {
	color: white;
	text-decoration: none;
	/* transform: scale(1.1); */

}
.navMenu a:hover, .navMenu a.active {
	color: rgb(250, 170, 73);
}