.nav__menu {
  width: 80%;
  list-style-type: none;
  padding: .3rem 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav__menu__item {
  flex-basis: 50%;
  text-align: center;
}
.nav__menu a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}
.nav__menu a:hover, .nav__menu a.active {
  color: #faaa49;
}

@media screen and (min-width: 400px) {
  .nav__menu {
    width: 100%;
    max-width: 600px;
  }
  .nav__menu__item {
    flex-basis: 0;
  }
}
