$delay: 40ms;
$anim: contactAppear .7s  backwards;

.contacts__appeal {
	color: white;
	font-size: 1.8em;
	margin: 1em 0;
	text-align: center;
}
.contacts__list * {
	color: white;
}
.contacts__list {
	list-style-type: none;
	position: relative;
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
.contact {
	display:inline-block;
	font-size: 4rem;
	line-height: 4rem;
	width: 5rem;
	height: 5rem;
	text-align: center;
	vertical-align: bottom;
}

#Github {
	animation: $anim 0*$delay+.1s;
}
#Codepen {
	animation: $anim 1*$delay+.1s;
}
#email {
	animation: $anim 2*$delay+.1s;
}
#cell {
	animation: $anim 3*$delay+.1s;
}
#Telegram {
	animation: $anim 4*$delay+.1s;
}
#Skype {
	animation: $anim 5*$delay+.1s;
}
#linkedIn {
	animation: $anim 6*$delay+.1s;
}
#vk {
	animation: $anim 7*$delay+.1s;
}

@keyframes contactAppear {
	0%, 20%  {
		transform: translateY(150px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@media (min-width: 520px) and (max-width: 900px) {
	.contacts__list {
		width: 90%;
		grid-template-columns: repeat(4, 1fr);
		min-height: 250px;
	}
}
@media (min-width: 900px) {
	.contacts__list {
		width: 100%;
		grid-template-columns: repeat(8, 1fr);
		min-height: 250px;
	}
}