.contacts__appeal {
  color: white;
  font-size: 1.8em;
  margin: 1em 0;
  text-align: center;
}

.contacts__list * {
  color: white;
}

.contacts__list {
  list-style-type: none;
  position: relative;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact {
  display: inline-block;
  font-size: 4rem;
  line-height: 4rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  vertical-align: bottom;
}

#Github {
  animation: contactAppear 0.7s backwards 100ms;
}

#Codepen {
  animation: contactAppear 0.7s backwards 140ms;
}

#email {
  animation: contactAppear 0.7s backwards 180ms;
}

#cell {
  animation: contactAppear 0.7s backwards 220ms;
}

#Telegram {
  animation: contactAppear 0.7s backwards 260ms;
}

#Skype {
  animation: contactAppear 0.7s backwards 300ms;
}

#linkedIn {
  animation: contactAppear 0.7s backwards 340ms;
}

#vk {
  animation: contactAppear 0.7s backwards 380ms;
}

@keyframes contactAppear {
  0%, 20% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (min-width: 520px) and (max-width: 900px) {
  .contacts__list {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    min-height: 250px;
  }
}
@media (min-width: 900px) {
  .contacts__list {
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    min-height: 250px;
  }
}
